<robot name="simple_wall">
  
  <link name="wall">
    <inertial>
      <origin xyz="0 0 0" /> 
      <mass value="100.0" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="1.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <geometry>
          <mesh filename="package://hc10_ros/meshes/wall/wall.stl" />
      </geometry>
      <material name="yaskawa_blue" />
    </visual>
    <collision>
      <geometry>
          <mesh filename="package://hc10_ros/meshes/wall/wall.stl" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="wall">
    <material>Gazebo/Blue</material>
  </gazebo>
</robot>