<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com)
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="parallelepiped">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0 0 0.125"
        rpy="0 0 0" />
      <mass
        value="1" />
      <inertia
        ixx="0.01041666"
        ixy="0"
        ixz="0"
        iyy="0.02604166"
        iyz="0"
        izz="0.02604166" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0.125"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://planar_2DOF/meshes/parallelepiped.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.96078 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0.125"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://planar_2DOF/meshes/parallelepiped.stl" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="0.25 0 0.125"
        rpy="0 0 0" />
      <mass
        value="1" />
      <inertia
        ixx="0.01041666"
        ixy="0"
        ixz="0"
        iyy="0.02604166"
        iyz="0"
        izz="0.02604166" />
    </inertial>
    <visual>
      <origin
        xyz="0.25 0 0.125"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://planar_2DOF/meshes/parallelepiped.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.96078 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.25 0 0.125"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://planar_2DOF/meshes/parallelepiped.stl" />
      </geometry>
    </collision>
  </link>
<joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0.25 0 0.25"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link1" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
    <dynamics
      damping="0.5" 
      friction = "0.5" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="0.25 0 0.125"
        rpy="0 0 0" />
      <mass
        value="1" />
      <inertia
        ixx="0.01041666"
        ixy="0"
        ixz="0"
        iyy="0.02604166"
        iyz="0"
        izz="0.02604166" />
    </inertial>
    <visual>
      <origin
        xyz="0.25 0 0.125"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://planar_2DOF/meshes/parallelepiped.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.96078 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.25 0 0.125"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://planar_2DOF/meshes/parallelepiped.stl" />
      </geometry>
    </collision>
  </link>
<joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0.5 0 0.25"
      rpy="0 0 0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
    <dynamics
      damping="0.5" 
      friction="0.5"/>
  </joint>
</robot>
